<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if site %}
        <title>Modifier un site</title>
    {% else %}
        <title>Ajouter un site</title>
    {% endif %}

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">    
                <div class="col-6 col-lg-auto me-lg-auto">
                    <h4 class="text-center">Gestionnaire de mots de passe</h4>
                </div>
    
                <div class="text-end">
                    <button type="button" class="btn btn-outline-light me-2" onclick="window.location = '/sites/'">Liste des sites</button>
                </div>
            </div>
        </div>
    </header>

    <div class="m-3 mb-4">
        {% if site %}
            <h1>Modifier un site</h1>
        {% else %}
            <h1>Ajouter un site</h1>
        {% endif %}
    </div>

    <form action="{% if site %}{% url 'edit-form' site_id=site.id %}{% else %}{% url 'create-form' %}{% endif %}" method="post">
        {% csrf_token %}
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-lg-8 col-sm-12 col-11">
                    {% bootstrap_form form %}
                    {% if site %}
                        {% bootstrap_button "Modifier" button_type="submit" button_class="btn-outline-dark" %}
                    {% else %}
                        {% bootstrap_button "Ajouter" button_type="submit" button_class="btn-outline-dark" %}
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
</body>
</html>