<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Sites</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">    
                <div class="col-6 col-lg-auto me-lg-auto">
                    <h4 class="text-center">Gestionnaire de mots de passe</h4>
                </div>
    
                <div class="text-end">
                    <button type="button" class="btn btn-outline-light me-2" onclick="window.location = '/sites/create'">Ajouter un site</button>
                </div>
            </div>
        </div>
    </header>
    
    <div class="m-3 mb-5">
        <h1>Vos sites</h1>
        <p>Voici la liste des sites que vous avez renseigné.</p>
    </div>

    <div class="m-3 mb-5">
        {% if sites %}
            <div class="table-responsive">
                <table class="table align-middle">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nom</th>
                            <th scope="col">URL</th>
                            <th scope="col">Description</th>
                            <th scope="col">Identifiant</th>
                            <th scope="col">Mot de passe</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for site in sites %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ site.name }}</td>
                                <td>{{ site.url }}</td>
                                <td>{{ site.description }}</td>
                                <td>{{ site.identifier }}</td>
                                <td>{{ site.password }}</td>
                                <td>
                                    <div class="col">
                                        <button type="button" class="btn btn-outline-dark me-2 mb-1 mt-1">
                                            <a class="text-reset text-decoration-none" href="{% url 'edit-form' site_id=site.id %}">Modifier</a>
                                        </button>
                                        <button type="button" class="btn btn-danger mb-1 mt-1">
                                            <a class="text-reset text-decoration-none" href="{% url 'delete-button' site_id=site.id %}">Supprimer</a>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>Vous n'avez renseigné aucun site pour l'instant... Ajoutez-en un 😎</p>
        {% endif %}
    </div>
</body>
</html>